.button__primary {
    color: var(--color-secondary);
    padding: 10px 30px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;


    background: 0F2650;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(15, 38, 80, 0.81) 100%);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(15, 38, 80, 0.81) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(15, 38, 80, 0.81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#0F2650", GradientType=1);
}